<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <link href="//cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css" rel="stylesheet">
    <link href="/s/css/invite.css" rel="stylesheet">

    <title>MIDO</title>
</head>
<body style="padding-left: 10%; padding-right: 10%; background-color: white;">
{#<ul class="ui-row">#}
{#    <li class="ui-col ui-col-50">#}
{#        <div class="nav-left">#}
{#            <div style="font-weight: 700; font-size: larger">{{ object.nick }}</div>#}
{#            <div style="font-size: small; color: grey;">Bolo号: {{ object.fullname }}</div>#}
{#        </div>#}
{#    </li>#}
{#    <li class="ui-col ui-col-50">#}
{#        <div class="" style="float: right;">#}
{#            <button style="background-color: black; height: 35px; border-radius: 5px;color: white; width: 90px;" onclick="is_weixn()">添加好友#}
{#            </button>#}
{#        </div>#}
{#    </li>#}
{#</ul>#}
<div class="ui-container ui-center" style="margin-top: 100px;">
    <img src="/s/image/MIDO.png" width="95px" alt="">
    <br>
    <br>
    <br>
    <h1 style="font-size: 30px; color: #4A4A4A;">一起视频聊天和K歌</h1>
</div>
<div class="ui-container ui-center" style="margin-top: 160px;">
    <button style="height: 60px; border-radius: 5px; color: white; width: 230px; display: block; font-size: 18px; font-family: 'Microsoft YaHei'; font-weight: 200;">
        <img src="/s/image/mal.png" alt="" height="60px" style="display: inline;" onclick="is_weixn()">
    </button>
    <button style="background-color: white; height: 60px; margin-top: 10px; border-radius: 5px; color: grey; width: 230px; display: block;  font-size: 18px; font-family: 'Microsoft YaHei'; font-weight: 200;">
        <img src="/s/image/adown.png" alt="" height="60px" style="display: inline;" onclick="android_download()">
    </button>
</div>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/js/frozen.js"></script>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/lib/zepto.min.js"></script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>
    function is_weixn() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger" || ua.match(/meipai/i) == "meipai") {
            window.location.href = "/page/guide";
        } else {
            setTimeout(function () {
                window.location = "https://itunes.apple.com/cn/app/id1141350790";
            }, 25);
            window.location = "miku://";
        }
    }
    function android_download() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger" || ua.match(/meipai/i) == "meipai") {
            window.location.href = "/page/guide?device=1";
        } else {
            setTimeout(function () {
                window.location = "http://static.fibar.cn/MIDOv6.apk";
            }, 25);
            window.location = "miku://";
        }
    }
</script>
</body>
</html>