<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <link href="//cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css" rel="stylesheet">
    <link href="/s/css/invite.css" rel="stylesheet">

    <title>MIDO</title>
</head>
<body style="padding-left: 10%; padding-right: 10%; background-color: white;">
{#<ul class="ui-row">#}
{#    <li class="ui-col ui-col-50">#}
{#        <div class="nav-left">#}
{#            <div style="font-weight: 700; font-size: larger">{{ object.nick }}</div>#}
{#            <div style="font-size: small; color: grey;">Bolo号: {{ object.fullname }}</div>#}
{#        </div>#}
{#    </li>#}
{#    <li class="ui-col ui-col-50">#}
{#        <div class="" style="float: right;">#}
{#            <button style="background-color: black; height: 35px; border-radius: 5px;color: white; width: 90px;" onclick="is_weixn()">添加好友#}
{#            </button>#}
{#        </div>#}
{#    </li>#}
{#</ul>#}
<div class="ui-container ui-center" style="padding-top: 30%; height: 100%;">
    <img src="{{ partyuser.avatar }}" width="120px" height="120px" style="border-radius: 60px;box-shadow: 0 0 10px #888888;" alt="">
    <h1 style="font-size: 25px; color: #4A4A4A;">{{ partyuser.nick }}</h1>
    <h2 style="width: 200px; word-break: break-all; margin-top: 10px;">叫你来「{{ room.name }}」歌房一起尬唱😂😍🎤🤘</h2>
</div>
<div class="ui-container ui-center" style="height: 100%; margin-top: 10px;">
    <button style="height: 60px; border-radius: 5px; color: white; width: 230px; display: block; font-size: 18px; font-family: 'Microsoft YaHei'; font-weight: 200;">
        <img src="/s/image/getin.png" alt="" height="60px" style="display: inline;" onclick="is_weixn()">
    </button>
    <h2 style="font-size: 20px; margin-top: 10px;">👆👆👆</h2>

    {#    <button style="background-color: white; height: 60px; margin-top: 10px; border-radius: 5px; color: grey; width: 230px; display: block;  font-size: 18px; font-family: 'Microsoft YaHei'; font-weight: 200;">#}
    {#        <img src="/s/image/maz.png" alt="" height="20px" style="margin-right: 20px; display: inline;padding-left: 23px;">#}
    {#    </button>#}
</div>
<div class="" style="padding-top: 10%; position: fixed; bottom: 0; text-align: center; width: 80%; padding-bottom: 5%;">
    <a href="/page/download"><img src="/s/image/MIDO.png" width="40px" alt=""></a>
        <h5 style="color: #9b9b9b;">没安装？点击👆下载</h5>
</div>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/js/frozen.js"></script>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/lib/zepto.min.js"></script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>
    var browser = {
        versions: function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            return {
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1,//火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Adr') > -1, //android终端
                iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                weixin: u.indexOf('MicroMessenger') > -1, //是否微信 （2015-01-22新增）
                qq: u.match(/\sQQ/i) == " qq" //是否QQ
            };
        }(),
        language: (navigator.browserLanguage || navigator.language).toLowerCase()
    };
    function is_weixn() {
        if (browser.versions.weixin) {
                        window.location.href = "/page/guide?room={{ room.room_id }}&device=0";
        } else {
            if (browser.versions.android) {
                setTimeout(function () {
                    window.location = "http://static.fibar.cn/mido0716.apk";
                }, 1500);
                var surl = "miku://myproject.com:80/mido?room={{ room.room_id }}&name={{ room.name }}";
                window.location.href = surl;
            } else {
                setTimeout(function () {
                    window.location = "https://itunes.apple.com/cn/app/id1141350790";
                }, 1500);
                var surl = "miku://{{ room.room_id }}:{{ room.name }}";
                window.location = surl;
            }
        }
    }
</script>
</body>
</html>